@media screen and (max-width: 768px) {
  body {
    font-size: 12px;
  }

  .header__nav {
    display: none;
  }

  .header__btn {
    display: flex;
    align-items: center;
    position: absolute;
    right: 20px;
  }
}

@media screen and (max-width: 400px) {

  .testimonial__author {
    align-self: flex-start;
  }

}
